body {
  background-color:#ce3635;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color:#fff;
}

a.underline:hover {
    border-bottom: 1px solid #fff;
  padding-bottom: .25em;
}

h1{
	font-size: 32pt;
}

.box {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.box-alt {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 9pt;
}

.bar{
	font-size: 8pt;
}

.paper{
	font-family: 'Neuton', serif;
}

.back-symbol{
	font-size:24pt;
}

* { color:#fff; text-decoration: none;}

